*.bak
*.log
*.swp
.DS_Store
.buildpath
.env.*.php
.env.php
.idea
.project
.settings
Thumbs.db
composer.lock
composer.phar
tags
project/demo/cache/session
project/demo/cache/template_c
project/demo/cache/template_cache
project/demo/log/business
project/demo/log/framework
project/demo/log/server
project/demo/config/class.map.inc
